/* Your component styles here */
.table-cell-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .li-error-msg {
    /* Your CSS styles for the first <li> element go here */
    color: rgb(239, 233, 233);
    list-style: disc;
    text-transform: capitalize;
    font-weight: 0;
    font-size: smaller;
    /* Add any other styles you want */
  }
  .first-li-error-msg {
    margin-bottom: 15px;
    /* Your CSS styles for the first <li> element go here */
    font-weight: bold;
    color: rgb(239, 233, 233);
    list-style: none;
    text-transform: capitalize;

    /* Add any other styles you want */
  }

  .componentLoader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .green_status{text-transform: capitalize;background-color: green;}
  .red_status{text-transform: capitalize;background-color: red;}
  .yellow_status{text-transform: capitalize;background-color: rgb(231, 81, 6);}

  /* Hide icons with a red background when printing */
  @media print {
    .table-cell-content  {
      /* background-color: transparent !important; */
      display: none !important;
    }
  }
  